:root {
    --col-width: calc(100% / 12);
    --col-sm-width: calc(100% / 6);
}

.col-lg-1 {
    width: var(--col-width);
}

.col-lg-2 {
    width: calc(var(--col-width) * 2);
}

.col-lg-3 {
    width: calc(var(--col-width) * 3);
}

.col-lg-4 {
    width: calc(var(--col-width) * 4);
}

.col-lg-5 {
    width: calc(var(--col-width) * 5);
}

.col-lg-6 {
    width: calc(var(--col-width) * 6);
}

.col-lg-7 {
    width: calc(var(--col-width) * 7);
}

.col-lg-8 {
    width: calc(var(--col-width) * 8);
}

.col-lg-9 {
    width: calc(var(--col-width) * 9);
}

.col-lg-10 {
    width: calc(var(--col-width) * 10);
}

.col-lg-11 {
    width: calc(var(--col-width) * 11);
}

.col-lg-12 {
    width: calc(var(--col-width) * 12);
}


body {
    font-family: 'Roboto', sans-serif;
    color: #383838;
}

.icon__google-play--top {
    width: 0;
    height: 0;
    position: absolute;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 120px 105px 120px;
}

.center-align {
    display: flex;
    align-items: center;
}

.--hidden {
    display: none;
}

.icon__logo {
    width: 205px;
    height: 40px;
}

.icon__logo--blue {
    fill: #3077C6;
}

.icon__night {
    width: 30px;
    height: 30px;
}

.icon__account {
    width: 40px;
    height: 40px;
}

.icon__google-play {
    display: block;
    width: 135px;
    height: 40px;
}

.icon__app-store {
    width: 120px;
    height: 40px;
}

.top {
    min-height: 100vh;
    background-image: url(../images/background-castle.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.wrapper--top {
    padding-top: 50px;
}


.nav {
    height: 46px;
    margin-bottom: 195px;
    justify-content: space-between;
}

.nav--gap_48 {
    gap: 48px;
}

.nav--gap_24 {
    gap: 24px
}

.nav__link--fs_24 {
    font-size: 24px;
    font-weight: 400;
}

.nav__link--underlined::after {
    content: '';
    display: block;
    position: relative;
    top: 8px;
    margin: 0 auto;
    height: 3px;
    width: 50px;
    background-color: #F5BD41;
}

.booking-form {
    display: flex;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 120px;
}

.booking__header--mb {
    margin-bottom: 100px;
}

.booking__title {
    font-weight: 500;
    font-size: 50px;
}

.booking__labels {
    display: flex;
    justify-content: flex-start;
    gap: calc(var(--col-width) * 2);
    margin-left: 24px;
    margin-bottom: 24px;
}

.booking__hint {
    font-weight: 400;
    font-size: 18px;
}

.booking-form__input {
    color: #383838;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
}

.booking-form__button {
    border-radius: 8px;
    background-color: #3077C6;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.download {
    width: 271px;
    height: 40px;
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

#city {
    padding-left: 36px;
    border-radius: 8px;
}

#dates {
    border: 3px solid #F5BD41;
    border-radius: 8px;
    text-align: center;
}

#people {
    padding-left: 24px;
}

.offer__heading {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    text-align: center;
    word-break: break-all;
    margin-bottom: 20px;
}

.offer__divider {
    border: none;
    width: 100px;
    height: 4px;
    margin: 0 auto 80px;
}

.offer__divider--highlighted {
    background: #F5BD41;
}

.offer__block {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.offer__block--gap_16 {
    gap: 16px;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 48px;
}

.offer__desc {
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.footer {
    background: #10367C;
    color: #FFFFFF;
}

.wrapper--footer {
    padding-bottom: 120px;
    padding-top: 120px;
}

.footer__block {
    display: flex;
    margin-bottom: 64px;
    gap: 16px;
}

.footer__list {
    display: flex;
    /*width: 400px;*/
    text-align: left;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
}

.footer__title {
    font-weight: 500;
    font-size: 20px;
}

.footer__link {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.footer__copyright {
    font-size: 14px;
}

@media (max-width: 1370px) {
    .col-md-1 {
        width: var(--col-width);
    }

    .col-md-2 {
        width: calc(var(--col-width) * 2);
    }

    .col-md-3 {
        width: calc(var(--col-width) * 3);
    }

    .col-md-4 {
        width: calc(var(--col-width) * 4);
    }

    .col-md-5 {
        width: calc(var(--col-width) * 5);
    }

    .col-md-6 {
        width: calc(var(--col-width) * 6);
    }

    .col-md-7 {
        width: calc(var(--col-width) * 7);
    }

    .col-md-8 {
        width: calc(var(--col-width) * 8);
    }

    .col-md-9 {
        width: calc(var(--col-width) * 9);
    }

    .col-md-10 {
        width: calc(var(--col-width) * 10);
    }

    .col-md-11 {
        width: calc(var(--col-width) * 11);
    }

    .col-md-12 {
        width: calc(var(--col-width) * 12);
    }

    .nav {
        margin-bottom: 150px;
    }

    .nav__link {
        font-size: 20px;
    }

    .booking__mobile {
        display: none;
    }

    .booking {
        margin-bottom: 15px;
        gap: 16px;
    }

    .booking__header--mb {
        margin-bottom: 80px;
    }

    .booking__title {
        font-size: 36px;
    }

    .booking__labels {
        gap: var(--col-width);
    }

    .booking__hint {
        max-width: calc(var(--col-width) * 2);
        font-size: 14px;
    }

    .booking-form__input {
        font-size: 14px;
    }

    .booking-form__button {
        font-size: 20px;
    }

    .offer__desc {
        font-size: 19px;
        text-align: center;
    }
}

@media (max-width: 910px) {
    .col-sm-1 {
        width: var(--col-sm-width);
    }

    .col-sm-2 {
        width: calc(var(--col-sm-width) * 2);
    }

    .col-sm-3 {
        width: calc(var(--col-sm-width) * 3);
    }

    .col-sm-4 {
        width: calc(var(--col-sm-width) * 4);
    }

    .col-sm-5 {
        width: calc(var(--col-sm-width) * 5);
    }

    .col-sm-6 {
        width: calc(var(--col-sm-width) * 6);
    }

    .wrapper {
        padding: 0 16px 0;
    }

    .wrapper--top {
        padding-bottom: 40px;
    }

    .nav {
        height: 50px;
        margin-bottom: 40px;
    }

    .nav__links {
        display: none;
    }

    .nav__icons {
        gap: 16px;
    }

    .icon__logo {
        width: 120px;
        height: 24px;
    }

    .icon__night {
        width: 16px;
        height: 16px;
    }

    .icon__account {
        width: 24px;
        height: 24px;
    }

    .icon__burger {
        display: revert;
        width: 24px;
        height: 16px;
    }

    .booking__header--mb {
        margin-bottom: 30px;
    }

    .booking__title {
        font-size: 30px;
    }

    .booking__desktop {
        display: none;
    }

    .booking__mobile {
        display: block;
    }

    .booking-form {
        display: grid;
        height: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 8px 8px;
        padding: 8px;
        background: #F5BD41;
        border-radius: 0;
        margin-bottom: 35px;
    }

    .label__wrap--fs_12 {
        font-size: 12px;
    }

    .label__wrap--city {
        position: relative;
        grid-row: 1;
        grid-column: span 6;
    }

    .label__wrap--date {
        grid-row: 2;
        grid-column: span 3;
    }
    
    .people {
        display: flex;
        grid-row: 3;
        grid-column: span 6;
        border-radius: 8px;
        background: #FFFFFF;
    }

    .label__wrap--people {
        position: relative;
    }

    .label__wrap--people:after {
        display: block;
        position: absolute;
        content: '';
        top: 8px;
        bottom: 8px;
        border-right: 1px solid #BFBFBF;
    }

    .label__wrap--people:first-child:after {
        display: none;
    }

    .booking-form__button {
        height: 48px;
        font-size: 19px;
        grid-column: span 6;
        grid-row: 4;
    }

    .icon__search {
        position: absolute;
        top: 16px;
        left: 12px;
        display: block;
        width: 16px;
        height: 16px;
    }

    .booking-form__input {
        width: 100%;
        height: 48px;
        font-size: 15px;
    }

    .booking-form__input--padding {
        padding-top: 29px;
        padding-left: 8px;
        padding-bottom: 6px;
    }


    .label__booking {
        position: absolute;
        color: #383838;
    }

    .label__booking--padding {
        padding-top: 6px;
        padding-left: 8px;
    }

    .offer__wrapper {
        padding: 25px 70px 40px;
    }

    .offer__heading {
        font-size: 28px;
        margin-bottom: 32px;
        margin-top: 0;
        width: 100%;
    }

    .offer__divider--highlighted {
        display: none;
    }

    .offer__block {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-bottom: 0;
    }

    .offer__item {
        max-height: 105px;
    }

    .offer__icon {
        width: 70px;
        height: 70px;
        margin-bottom: 16px;
    }

    .offer__desc {
        font-size: 15px;
        word-break: revert;
        text-align: center;
    }

    .footer__wrapper {
        padding: 40px 65px 30px;
        margin: 0 auto;
    }

    .footer__icon {
        display: revert;
        margin-bottom: 40px;
        text-align: center;
        width: 98px;
        height: 19px;
    }

    .footer__icon--white {
       fill: #FFFFFF;
    }

    .footer__block {
        width: 100%;
        height: 18px;
        margin-bottom: 32px;
        padding-top: 0;
        justify-content: center;
    }

    .footer__list {
        width: fit-content;
        gap: 16px;
        height: 18px;
    }

    .footer__title {
        font-size: 15px;
        font-weight: 500;
        text-decoration: underline;
    }

    .footer__link {
        display: none;
    }

    .footer__copyright {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        max-width: 216px;
        font-size: 12px;
        padding-bottom: 0;
    }
}